<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.recitewords">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".AppEasy"
            android:allowBackup="true"
            android:icon="@mipmap/app_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/app_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/WhiteTheme"
            android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".views.activity.ScreenSlidePagerActivity"
                  android:screenOrientation="portrait"
                  tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
                android:name=".views.activity.MainActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>